Services/WebContent/Contracts/CadastraEmpresa.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sxpt="http://soaexpert.com.br/CadastraEmpresa/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CadastraEmpresa" targetNamespace="http://soaexpert.com.br/CadastraEmpresa/">
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://soaexpert.com.br/CadastraEmpresa/" xmlns:Q1="http://soaexpert.com.br/domain">
    	<xsd:import schemaLocation="../Schemas/DomainModel.xsd" namespace="http://soaexpert.com.br/domain"></xsd:import>
    	<xsd:element name="cadastra">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="empresa" type="Q1:Empresa" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="cadastraResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="empresa" type="Q1:Empresa" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="cadastraFault">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="cadastraFault"
    					type="xsd:string">
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="cadastraRequest">
    <wsdl:part element="sxpt:cadastra" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="cadastraResponse">
    <wsdl:part element="sxpt:cadastraResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="cadastraFault">
  	<wsdl:part name="parameters" element="sxpt:cadastraFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CadastraEmpresa">
    <wsdl:operation name="cadastra">
      <wsdl:input message="sxpt:cadastraRequest"/>
      <wsdl:output message="sxpt:cadastraResponse"/>
            <wsdl:fault name="fault" message="sxpt:cadastraFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CadastraEmpresaSOAP" type="sxpt:CadastraEmpresa">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cadastra">
      <soap:operation soapAction="http://soaexpert.com.br/CadastraEmpresa/cadastra"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CadastraEmpresa">
    <wsdl:port binding="sxpt:CadastraEmpresaSOAP" name="CadastraEmpresaSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
