SoaExpertServices/Contracts/MessageFlowProxy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.soaexpert.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageFlowProxy" targetNamespace="http://www.soaexpert.com.br">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.soaexpert.com.br" xmlns:Q1="http://www.soaexpert.com.br/">
            <xsd:import schemaLocation="../Schemas/Estruturas.xsd" namespace="http://www.soaexpert.com.br/"></xsd:import>
            <xsd:element name="getCatalogoProduto">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nomeCliente" type="Q1:Nome"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCatalogoProdutoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="catalogoProduto" type="Q1:CatalogoProduto"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="enviaPedido">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="pedido" type="Q1:Pedido"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCatalogoProdutoRequest">
    <wsdl:part element="tns:getCatalogoProduto" name="getCatalogoProdutoRequest"/>
  </wsdl:message>
  <wsdl:message name="getCatalogoProdutoResponse">
    <wsdl:part element="tns:getCatalogoProdutoResponse" name="getCatalogoProdutoResponse"/>
  </wsdl:message>
  <wsdl:message name="enviaPedidoRequest">
  	<wsdl:part name="enviaPedidoRequest" element="tns:enviaPedido"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MessageFlowProxy">
    <wsdl:operation name="getCatalogoProduto">
      <wsdl:input message="tns:getCatalogoProdutoRequest"/>
      <wsdl:output message="tns:getCatalogoProdutoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="enviaPedido">
    	<wsdl:input message="tns:enviaPedidoRequest"></wsdl:input>    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageFlowProxySOAP" type="tns:MessageFlowProxy">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCatalogoProduto">
      <soap:operation soapAction="http://www.soaexpert.com.br/ABTRAServices/getCatalogoProduto"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviaPedido">
      <soap:operation soapAction="http://www.soaexpert.com.br/SoaExpertServices/enviaPedido"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageFlowProxy">
    <wsdl:port binding="tns:MessageFlowProxySOAP" name="MessageFlowProxySOAP">
      <soap:address location="http://localhost:7001/SoaExpertServices/MessageFlow/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>